<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{.PageTitle}}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    {{template "partials/header" .}} {{embed}}
  </body>
  <script
    src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="/static/main.js"></script>
</html>
