<div class="hero bg-base-200 py-10">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Welcome to ytsruh search</h1>
      <p id="hero-text" class="py-1">Search 0.0000000672% of the web</p>
      <p class="text-sm py-1">* completely made up statistic</p>
      <div class="flex items-center justify-center gap-x-2">
        <input
          type="text"
          placeholder="Enter your search term"
          class="input input-bordered input-primary w-full max-w-xs" />
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>

<div id="search-results">
  <div class="flex justify-center items-center my-24">
    <h2 class="text-xl text-center italic">Your search results will appear here</h2>
  </div>
</div>
